PORT=5000
DB_HOST=localhost
DB_USER=admin
DB_PASS=password123
DB_NAME=expense_tracker_db
JWT_SECRET=secret
JWT_REFRESH_SECRET=refresh_secret_b6d9677116aa4
REDIS_HOST=localhost
REDIS_PORT=6379
# Enable SQL logs & timing (dev only)
SEQUELIZE_LOG=false
VITE_FRONTEND_URL=http://localhost
